---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/base.css';
---

<Layout title="About page.">
    <main>

    <ul role="list" class="link-card-grid">
        <Card body="Hello" href="/" title="Back home" />
        <Card body="Hello" href="/" title="Back home" />
    </ul>
    </main>
</Layout>